@media only screen and (max-width: 1200px) {
  .hero-text-box {
    width: 100%;
    padding: 0 2%;
  }

  .row {
    padding: 0 2%;
  }
}

/* LG */
@media only screen and (max-width: 1023px) {
  body {
    font-size: 18px;
  }

  section {
    padding: 60px 0;
  }

  .long-copy {
    width: 80%;
    margin-left: 10%;
  }

  .steps-box {
    margin-top: 10px;
  }

  .steps-box:last-child {
    margin-top: 10px;
  }

  .works-step {
    margin-bottom: 40px;
  }

  .works-step:last-of-type {
    margin-bottom: 60px;
  }

  .app-screen {
    width: 50%;
  }

  .card {
    font-size: 80%;
  }

  .icon-small {
    width: 16px;
    margin-right: 4px;
  }

  .plan-box {
    width: 100%;
    margin-left: 0%;
  }

  #form-div {
    width: 90%;
    margin-left: 5%;
  }
}

/* MD */
@media only screen and (max-width: 767px) {
  body {
    font-size: 18px;
  }

  section {
    padding: 30px 0;
  }

  h1 {
    font-size: 180%;
  }

  h2 {
    font-size: 180%;
  }

  .row,
  .hero-text-box {
    padding: 0 4%;
  }

  .flex {
    flex-direction: column;
  }

  .main-nav {
    display: none;
  }

  .mobile-nav-anchor {
    display: inline-block;
  }

  .main-nav {
    float: left;
    margin-top: 16px;
    margin-left: 16px;
  }

  .main-nav li {
    font-size: 100%;
    display: block;
    padding: 8px;
  }

  .main-nav li a:link,
  .main-nav li a:visited {
    font-size: 100%;
    border: 0;
  }

  /* sticky nav */
  .sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 9999;
    box-shadow: 0 2px 2px #e8e8e8;
  }

  .sticky .main-nav li a:link,
  .sticky .main-nav li a:visited {
    padding: 8px 0px;
  }

  .sticky .mobile-nav-anchor {
    margin-top: 10px;
  }

  .sticky .mobile-nav-icon {
    color: #555;
  }

  .sticky .main-nav {
    margin-top: 8px;
  }

  .long-copy {
    width: 100%;
    margin-left: 0%;
  }

  .works-step {
    margin-bottom: 20px;
  }

  .works-step:last-of-type {
    margin-bottom: 20px;
  }

  .card {
    padding: 8px 0px;
  }

  .works-step div {
    height: 40px;
    width: 40px;
    margin-right: 15px;
    padding: 4px;
    font-size: 120%;
  }

  .steps-box:first-child {
    text-align: center;
  }

  .app-screen {
    width: 50vw;
  }

}

/* SM */
@media only screen and (max-width: 480px) {
  section {
    padding: 25px 0;
  }

  #form-div {
    width: 100%;
    margin: 0px;
  }

  #form-div *:nth-child(2) {
    flex: none;
  }

  .btn:link,
  .btn:visited,
  input[type=submit] {
    padding: 8px 16px;
  }
}