* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #fff;
  color: #555;
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

.clearfix {
  zoom: 1
}

.clearfix::after {
  content: '.';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

.row {
  max-width: 1140px;
  margin: 0 auto;
}

section {
  padding: 80px;
}

.flex {
  display: flex;
}

/* BUTTONS */
.btn:link,
.btn:visited,
input[type=submit] {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  transition:
    background-color 0.2s,
    color 0.2s,
    border 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
  background-color: #e67e22;
  border: 1px solid #e67e22;
  color: #fff;
  margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
  border: 1px solid #e67e22;
  color: #e67e22;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
  background-color: #cf6d17;
  border: 1px solid #cf6d17;
}

.btn-ghost:hover,
.btn-ghost:active {
  color: #fff;
}

/* Links */
a:link,
a:visited {
  color: #e67e22;
  text-decoration: none;
  border-bottom: 1px solid #e67e22;
  padding-bottom: 1px;
  transition: all 0.2s;
}

a:hover,
a:active {
  color: #555;
  border-bottom: 1px solid transparent;
}

/* HEADINGS SECTION */
h1,
h2,
h3 {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h1 {
  margin: 0;
  margin-bottom: 20px;
  color: #fff;
  font-size: 240%;
  word-spacing: 4px;
}

h2 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
}

h2:after {
  display: block;
  height: 2px;
  background-color: #e67e22;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}

h3 {
  font-size: 110%;
  margin-bottom: 15px;
  letter-spacing: 0px;
}

/* HEADER SECTION */
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7),
    rgba(25, 25, 25, 0.7)),
    url(img/hero.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.hero-text-box {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.logo {
  height: 100px;
  width: auto;
  float: left;
  margin-top: 20px;
}

.main-nav {
  float: right;
  list-style: none;
  margin-top: 60px;
}

.main-nav li {
  display: inline-block;
  margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  border-bottom: 2px solid #e67e22 transparent;
  transition: border-bottom 0.2s;
  padding: 8px 0px;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 4px solid #e67e22;
}

/* FEATURES SECTION */
.long-copy {
  line-height: 1.5em;
  width: 70%;
  margin-left: 15%;
}

.feature-card {
  margin-top: 20px;
  padding: 0px 2%;
  font-size: 90%;
  line-height: 1.5em;
}

.icon-big {
  display: block;
  font-size: 300%;
  color: #e67e22;
  margin-bottom: 10px
}

.section-features .long-copy {
  margin-bottom: 30px;
}

/* MEALS SECTION */
.section-meals {
  padding: 0;
}

.meals-showcase {
  list-style: none;
  width: 100%;
}

.meals-showcase li {
  display: block;
  float: left;
  width: 25%;
}

.meals-photo,
.cities-photo {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #000;
}

.meals-photo img,
.cities-photo img {
  opacity: 0.7;
  width: 100%;
  height: auto;
  transform: scale(1.22);
  transition: transform 0.5s, opacity 0.5s;
}

.meals-photo img:hover,
.cities-photo img:hover {
  opacity: 1;
  width: 100%;
  height: auto;
  transform: scale(1.03)
}

/* HOW IT WORKS SECTION */
.section-steps {
  background-color: #f4f4f4;
}

.steps-box:first-child {
  margin-top: 30px;
  text-align: right;
  padding-right: 3%;
}

.steps-box:last-child {
  margin-top: 70px;
  padding-left: 3%;
}

.app-screen {
  width: 40%;
}

.works-step {
  display: flex;
  margin-bottom: 50px;
  height: 55px;
}

.works-step p {
  margin: auto 0px;
}

.works-step:last-of-type {
  margin-bottom: 80px;
}

.works-step div {
  flex: none;
  color: #e67e22;
  border: 2px solid #e67e22;
  border-radius: 50%;
  height: 55px;
  width: 55px;
  text-align: center;
  padding: 5px;
  font-size: 150%;
  margin-right: 25px;
}

.btn-app img {
  height: 50px;
  width: auto;
  margin-right: 10px;
}

.btn-app:link,
.btn-app:visited {
  border: 0;
}

/* CITIES SECTION */
.city-photo {
  width: 100%;
}

/* CARD SECTION */
.card {
  margin: 10px;
  padding: 16px 8px 32px 8px;
  background-color: #fefbf8;
  background-clip: border-box;
  border-radius: 4px;
  box-shadow: 1px 1px 2px #fbe9d9;
}

.card ul {
  text-decoration: none;
  list-style: none;
  line-height: 1.5em;
  padding-left: 8px;
}

.card p {
  text-align: justify;
  padding: 4px;
}

.inline-icon {
  color: #e67e22;
  vertical-align: middle;
  font-size: 1.2em;
  margin-top: -6px;
  margin-right: 10px;
}

.card ul li:first-child {
  margin-top: 8px;
}

.card ul li:hover::before {
  content: "| ";
  font-weight: 900;
  color: #e67e22;
  font-size: 1.2em;
  transition: all 0.2s;
}

.card ul li::before {
  content: "| ";
  color: #AAA;
  font-weight: 400;
  font-size: 1.2em;
}

/* TESTIMONIALS SECTION */

.section-testimonials {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7),
    rgba(25, 25, 25, 0.7)),
    url(img/back-customers.jpg);
  background-size: cover;
  color: #FFF;
  background-attachment: fixed;
}

blockquote {
  padding: 2%;
  font-style: italic;
  line-height: 1.5em;
  position: relative;
  margin-top: 40px;
}

blockquote::before {
  display: block;
  position: absolute;
  top: -5px;
  left: -5 px;
  content: '\201c';
  font-size: 500%;
}

cite {
  font-size: 90%;
  margin-top: 25px;
}

cite img {
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
}

/* PLANS SECTION */

.section-plans {
  background-color: #f4f4f4;
}

.plan-box {
  background-color: #fff;
  border-radius: 5px;
  width: 90%;
  margin-left: 5%;
  box-shadow: 0 2px 2px #e8e8e8;
}

.plan-box div {
  padding: 15px;
  border-bottom: 1px solid #e8e8e8
}

.plan-box ul {
  list-style: none;
}

.plan-box ul li {
  line-height: 2em;
}

.plan-box div:first-child {
  background-color: #fcfcfc;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.plan-box div:last-child {
  text-align: center;
  border: 0;
}

.plan-price {
  font-size: 300%;
  margin-bottom: 10px;
  font-weight: 200;
  color: #e67e22;
}

.plan-price span {
  font-size: 30%;
  font-weight: 400;
}

.plan-price-meal {
  font-size: 80%;
}

/* FORMS SECTION */
#form-div {
  width: 60%;
  margin-left: 20%;
  align-items: center;
}

#form-div *:nth-child(1) {
  flex: 1 0 0px;
  padding: 10px;
}

#form-div *:nth-child(2) {
  flex: 2 0 0px;
  margin: 10px;
}

input[type=text],
input[type=email],
select,
textarea {
  width: 100%;
  padding: 8px;
  border-radius: 3px;
  border: 1px solid #CCC;
  font-weight: 300;
}

input[type=checkbox] {
  margin: 10px 5px 10px 0px;
  padding: 100px;
}

input:focus {
  outline: none;
}

/* FOOTER SECTION */

footer {
  font-size: 80%;
  background-color: #333;
  padding: 32px;
}

.footer-nav {
  list-style: none;
  float: left;
}

.social-links {
  list-style: none;
  float: right;
}

.footer-nav li,
.social-links li {
  display: inline-block;
  margin-right: 20px;
}

.social-links li:last-child {
  margin-right: 0px;
}

#footer-div * {
  flex: 1;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
  text-decoration: none;
  border: 0;
  color: #888;
  transition: all 0.2s;
}

.social-links li a:link,
.social-links li a:visited {
  font-size: 150%;
}

.footer-nav li a:hover,
.footer-nav li a:active {
  color: #ddd;
}

#logo-facebook a:hover {
  color: #3b5998;
}

#logo-twitter a:hover {
  color: #00aced;
}

#logo-instagram a:hover {
  color: #517fa4;
}